<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobiledev.unb.ca.project365" >

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver"></receiver>

        <receiver android:name=".BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <service android:name=".SchedulingService" />

        <activity
            android:name=".ViewCalendarActivity"
            android:label="View Calendar Activity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobiledev.unb.ca.project365.MainActivity" />
        </activity>


        <activity
            android:name=".SaveNewPhotoActivity"
            android:label="Save New Photo Activity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobiledev.unb.ca.project365.MainActivity" />
        </activity>

        <activity
            android:name=".ViewFullSizePhotoActivity"
            android:label="View Full Size Photo Activity"
            android:parentActivityName=".ViewCalendarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobiledev.unb.ca.project365.ViewCalendarActivity" />
        </activity>

        <activity
            android:name=".SetNotification"
            android:label="Set Notification"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobiledev.unb.ca.project365.MainActivity" />
        </activity>
    </application>

</manifest>
